@model IEnumerable<studentOneMethod.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-action="CreateOrUpdate">Create New</a>
</p>

<div class="d-flex ">
<form class="form-inline d-flex justify-content-right m-2 md-form form-sm" method="get" asp-action="Index">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search..." name="searchString">
    <div class="input-group-append">
      <button class="btn btn-secondary" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</form>

<a class="btn btn-primary m-2" asp-action="Index">All Students</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="CreateOrUpdate" asp-route-id="@item.id">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.id">Details</a> |*@
                @*<button asp-page-handler="Delete" asp-action="Delete" asp-route-id="@item.id" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">Delete</button>*@
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@*@RenderPage("C:/Users/Administrateur/source/repos/studentOneMethod/Views/Shared/_footer.cshtml")*@
